.container{
    margin-top: 8px;
    padding: 10px;
    align-items: flex-end;

}
.form-check{
    margin-top: 8px;
    min-height: 2rem;
}
.form-check-input{
    margin:8px
}
.form-check-label {
    margin: 8px;
   
    
}
